@charset "utf-8";
/* CSS Document */

body{margin:0 auto; padding:0; font-family:"微软雅黑";color:#000}

ul,ol,p,h1,h2,h3,h4,form,dd,dl,dt{margin:0;padding:0;list-style:none}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block;} 

img{border:0;}

a{cursor:pointer;text-decoration:none;color:#000}

.clear{clear:both;height:0px; overflow:hidden}

.top{ background:url(top.jpg);height:66px; text-align:right; line-height:30px; font-size:12px;color:#fff; padding-right:20px }

.top a{ text-decoration:underline;color:#fff}

.wrap{width:960px; margin:auto; background:#A1CEE1}

.left{width:558px;float:left}

.right{width:384px;float:right; padding-left:18px}

.content{ padding-bottom:10px}

.left_box{ margin-left:11px; margin-top:20px;background:#D8ECF5}

.r_box{width:371px;margin-top:20px;background:#D8ECF5}

.flash{height:475px; margin-left:11px}

.box_t{ position:relative; background:url(t.jpg);width:232px;height:26px; top:-13px;left:12px;font:20px/26px "微软雅黑";color:#fff; padding-left:18px}

.gl{position:relative}

.gl1,.gl2,.gl3,.gl4,.gl5,.gl6{position:absolute}

.gl1,.gl3,.gl5{width:79px;height:66px; text-align:center; padding-top:13px}

.gl1 a,.gl3 a,.gl5 a{font:16px/24px "微软雅黑";color:#fff;}

.gl2,.gl4,.gl6{width:110px;height:36px;font:14px/18px "微软雅黑";color:#000; padding-left:10px; border-left:solid 4px;}

.gl2 a,.gl4 a,.gl6 a{font:14px/18px "微软雅黑";color:#000;}

.gl1{ background:url(bg3.jpg);left:271px;top:-7px}

.gl3{ background:url(bg1.jpg);left:170px;top:30px}

.gl5{ background:url(bg4.gif);left:240px;top:65px}

.gl2{border-color:#984975;left:35px;top:51px}

.gl4{border-color:#006690;left:340px;top:90px}

.gl6{border-color:#EA263D;left:370px;top:20px}

.al_l{width:246px;float:left; padding-left:10px; padding-top:0px}

.al_r{width:265px;float:left;font-size:12px; line-height:22px; }

.al_l li{width:64px;float:left; margin-left:8px; display:inline; text-align:center}

.al_l li img{display:block}

.jc_l{width:243px;float:left}

.jc{padding-left:43px}

.jc li{height:30px; background: url(ico1.gif) 0px 11px no-repeat; padding-left:15px;}

.jc li a{font-size:14px; line-height:30px; text-decoration:underline;color:#183553}

.r_ico1 li,.r_ico2 li,.r_ico3 li{float:left; margin-left:15px; display:inline;margin-bottom:10px;width:73px;height:31px;}

.r_ico1 li{background:url(ico_1.gif) no-repeat;}

.r_ico1 li.on{background:url(ico_1_on.gif) no-repeat;}

.r_ico2 li{background:url(ico_2.gif) no-repeat;}

.r_ico2 li.on{background:url(ico_2_on.gif) no-repeat;}

.r_ico3 li{background:url(ico_3.gif) no-repeat;}

.r_ico3 li.on{background:url(ico_3_on.gif) no-repeat;}

.r_ico1 a{ display:block; width:73px;height:31px; background:url(ico1.png) no-repeat; text-indent:-999px; overflow:hidden}

.r_ico2 a{ display:block; width:73px;height:31px; background:url(ico2.png) no-repeat; text-indent:-999px; overflow:hidden}

.r_ico3 a{ display:block; width:73px;height:31px; background:url(ico3.png) no-repeat; text-indent:-999px; overflow:hidden}

.bg1{ background:url(bg1.gif);width:515px;height:96px; margin-left:13px; padding-top:11px}

.bg2{background:url(bg2.gif);width:349px;height:127px; margin-left:11px; margin-top:7px;}

.bg1 li{width:59px; margin-left:37px; display:inline; text-align:center; float:left}

.bg1 li img{display:block; border:solid 3px #fff;width:60px;height:60px}

.bg1 li a{line-height:28px; font-size:12px;color:#000}

.bg2 h1{font-size:20px; line-height:40px;color:#A81D1F; padding-left:16px}

.bg2 h2{height:40px;line-height:20px; padding:6px 16px}

.bg2 h2 a{ margin-right:6px; line-height:20px; font-size:12px; white-space:nowrap; font-weight:normal; display:block;float:left}

.bg2 h2 a:hover{color:#A81D1F}

.bg2 form{ padding:10px 15px 0px 20px; font-size:12px}

.bg2 samp{font:12px/20px "微软雅黑";color:#000}

.bg2 textarea{width:310px;height:60px; line-height:20px; border:0 none; background:transparent; font:12px/20px "微软雅黑";color:#000}

.a_btn{float:right; background:url(btn.gif);width:86px;height:30px; border:0 none; text-align:center; font-size:14px; font-family:"微软雅黑"; vertical-align:middle;color:#fff; padding:0px; cursor:pointer; margin-right:10px; margin-top:30px}

.ask_s{margin-bottom:5px}

.ask_l{width:29px;float:left}

.ask_cor{width:14px;float:left; background:url(arrow.gif) right top no-repeat;height:9px}

.ask_r{width:274px;float:left; background:#fff; padding:5px 13px}

.ask_l img{width:29px;height:32px}

.ask_r,.ask_r a{color:#183553;font-size:12px; line-height:20px}

.ask_r a.reply{ text-decoration:underline;color:#A81D1F; margin-left:5px}

.left_form{width:521px; margin:auto}

.left_form_t{background:url(l1_t.gif);width:521px;height:9px; overflow:hidden}

.left_form_b{background:url(l1_b.gif);width:521px;height:9px; overflow:hidden}

.left_form_c{ background:#92D8EF; padding:0px 0px 0px 20px;height:70px}

.left_form h1{font:20px/40px "微软雅黑"; color:#A81D1F; }

.left_form span{font:20px/40px "微软雅黑"; color:#A81D1F; }

.left_form h2 a{ margin-right:6px; line-height:20px; font-size:12px; white-space:nowrap; font-weight:normal; display:block;float:left}

.flash2{ background:url(flash2.jpg);width:371px;height:400px; padding-top:75px}

.flash2 h1,.flash2 h2,.flash2 h3{ text-align:center}

.flash2 h1{font:bold 21px "微软雅黑"; color:#FFB4DA; width:326px; margin:auto }

.flash2 h2{font: 16px/28px "微软雅黑"; color:#FFF99B; margin:30px auto 0px auto;height:84px;width:326px;}

.flash2 h3{font: 12px "微软雅黑"; color:#fff;margin:30px auto 0px auto;width:326px;}

.flash2 h4{height:110px; margin:36px auto 0px auto;width:280px; font:12px/20px "微软雅黑"; padding-top:10px}

.flash2 h4 textarea{height:60px;width:280px; background:transparent; border:0 none;font:12px/20px "微软雅黑"; overflow:hidden}


.flash2 h4 a{font-size:12px}

.flash2 .button{width:138px;height:33px; margin:8px 0px  0px 118px; background:none; border:0 none; cursor:pointer}


