@charset "utf-8";
/* CSS Document */

body{margin:0 auto; padding:0}

ul,ol,p,h1,h2,h3,form,dd,dl,dt{margin:0;padding:0;list-style:none}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block;} 

img{border:0;}

a{cursor:pointer;text-decoration:none}

.zt_wrapper{width:1001px; margin:0 auto}

.clear{clear:both;height:0px; overflow:hidden}

.hidden{ overflow:hidden}

.zt_head{ background:url(img_02.jpg);width:1001px;height:162px;}

.zt_menu{width:350px;float:right; padding-top:30px;font:12px/20px "微软雅黑";color:#fff}

.zt_menu a{font:12px/20px "微软雅黑";color:#fff; margin-left:8px; margin-right:8px}

.zt_menu a:hover{ text-decoration:underline;color:#FEFDCA}

.zt_logo{padding:10px 0px 0px 5px}

.flash_box{background:url(img_04.jpg);width:543px;height:577px; padding-left:21px;float:left}

.book_box{float:right; width:437px}

.book_box_content{background:url(img_05.jpg);height:505px;width:342px; padding-right:92px; padding-left:3px}

.t1{font:18px/20px "微软雅黑";color:#252525}

.t1 span{ margin-left:55px}

.c1{height:380px; overflow:hidden}

.c1 p{margin-top:10px;font:14px/24px "微软雅黑";color:#252525}

.book_box_menu{ background:url(img_06.jpg);width:418px;height:60px;float:left; padding-top:12px; padding-left:10px}

.book_box_span{ background: url(img_07.jpg);width:9px;height:72px;float:right}

.content{ background:url(img_08.jpg);width:719px;height:654px;float:left; padding-top:78px; padding-left:13px}

.right_btn{width:269px;height:732px;float:right}

.right_btn img{display:block}

.bottom_box{ background:url(img_10.jpg);width:1001px;height:190px}

.content_l{width:297px;float:left; margin-left:37px; display:inline;font:12px/24px "微软雅黑";color:#252525}

.content_l_s{}

.content_left{width:40px;float:left; padding-top:5px}

.content_left img{width:29px;height:29px}

.content_right{width:257px;float:right}


.content_l_t{ background:url(t.jpg);width:271px;height:30px; padding-left:26px;font:14px/30px "微软雅黑";color:#fff; margin-bottom:20px}

.content_title{}

.new{color:#258382}

.book_box_menu span{ cursor:pointer;font:14px/30px "微软雅黑";color:#252525; margin-right:23px; display:block;float:left;width:60px; text-align:center}

.book_box_menu span.on{ padding-top:7px;color:#fcc}






