@charset "utf-8";
/* CSS Document */

body{margin:0 auto; background:#341903}

ul,ol,p,h1,h2,h3,form,dd,dl,dt{margin:0;padding:0;list-style:none}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block;} 

img{border:0;}

a{text-decoration:none}

.mu{background:url(mu.jpg);width:1225px; margin:auto}

.wrapper{width:1100px; margin:auto; margin-left:62px}

.clear{clear:both;height:0px; overflow:hidden}

.head{ background:url(img_01.jpg);width:1100px;height:105px}

.left{width:546px;float:left}

.box3{width:554px;float:right; background:url(img_03.jpg);height:625px; position:relative}

.box3_t{width:466px; text-align:center; font:18px/20px "微软雅黑";color:#000; text-align:center; padding-top:30px;height:35px}

.box3_t h2{font:18px/20px "微软雅黑";color:#000;}

.box3_item{ padding-left:87px}

.box3_item a{width:92px;height:38px; display:block;float:left; text-align:center;font:18px/38px "微软雅黑";color:#830804}

.box3_item a.on{ background: url(t_on.png);width:112px}

.box3_c{width:344px; padding:10px 68px 0px 68px;height:366px; overflow:hidden;font:14px/24px "微软雅黑";color:#000}

.box3_a{  text-align:center;width:470px}

.box3_a a{margin-left:14px;font:14px/24px "微软雅黑";color:#830804; text-decoration:underline}

.box3_a a:hover{color:#FF0901}

.ask{position:absolute;width:56px;height:56px; display:block;left:40px;top:555px; text-indent:-999px; overflow:hidden}

.content_l{width:297px;float:left; margin-left:37px; display:inline;font:12px/24px "微软雅黑";color:#252525}

.content_l a{color:#333}

.content_l_s{}

.content_left{width:40px;float:left; padding-top:5px}

.content_left img{width:29px;height:29px}

.content_right{width:257px;float:right}


.content_l_t{ background:url(t.jpg);width:271px;height:30px; padding-left:26px;font:14px/30px "微软雅黑";color:#fff; margin-bottom:20px}

.new,.new a{color:#258382}

.buy{width:224px;height:212px; margin-top:71px}

.buy a{display:block; cursor:pointer;width:164px;height:82px;  overflow:hidden; padding:130px 0px 0px 60px}

.buy a h2{font-weight:bold;color:#FD9F25; font-family:"微软雅黑"; font-size:24px;}

.jiqiao{width:233px;height:228px; margin-top:45px; padding-left:17px}

.jiqiao h2{ text-align:center; white-space:2px; font:bold 15px/24px "宋体";color:#fff}

.jiqiao ul{margin:15px 0px 0px 20px;}

.jiqiao li{ background:url(ico.gif) no-repeat 0px 6px; padding-left:20px;}

.jiqiao li a{font:14px/22px "微软雅黑";color:#341903; text-decoration:underline}

.xingzuo{ padding:48px 0px 0px 30px}

.xingzuo a{ display:block;width:206px;height:124px; cursor:pointer;; text-indent:-999px; overflow:hidden}

.book_t{ background:url(img_02.jpg);width:286px;height:32px;padding:45px 0px 0px 260px;font:bold 28px/30px "微软雅黑";color:#fff}

.book_t h1{font:bold 28px/30px "微软雅黑";color:#fff}

.box1{ background:url(img_04.jpg);width:66px;height:548px; float:left}

.box2{ background:url(img_05.jpg);width:480px;height:548px;float:right}

.box4{background:url(img_06.jpg);height:755px;width:66px;float:left}

.box5{background:url(img_07.jpg);height:680px;width:713px;float:left; padding-top:75px}

.box6{background:url(img_08.jpg);width:321px;height:755px;float:left}

.box7{background:url(img_09.jpg);height:103px;width:1100px}

.head_account{width:600px;float:right; text-align:center;height:41px;color:#F8DB13;font:12px/41px "微软雅黑";}

.head_account a{color:#F8DB13; margin:0 5px}

.head_menu{float:right;width:480px; padding-left:120px;font:12px/37px "微软雅黑";color:#fff;}

.head_menu a{font:12px/37px "微软雅黑";color:#fff; margin-left:8px; margin-right:8px}

.head_menu a:hover{ text-decoration:underline;color:#FEFDCA}

.logo{width:434px;float:left;height:55px; padding:50px 0px 0px 66px}

.logo a{display:block;width:123px;height:52px; cursor:pointer; text-indent:-999px; overflow:hidden}

.foot{ background:#000;font:12px/45px "微软雅黑";color:#fff;}

.foot_div{width:1000px; margin:auto}

.foot a{margin-left:15px; text-decoration:underline;font:12px/45px "微软雅黑";color:#fff;}

