@charset "utf-8";
/* CSS Document */

body{margin:0 auto; background:#333}

ul,ol,p,h1,h2,h3,form,dd,dl,dt{margin:0;padding:0;list-style:none}

img{border:0;}

.level-1,.level-2,.level-3{display:none}

.hongxing,.zhezhi{display:none}

.hua div{display:none}

.f-box{background:url(../img/bg.jpg);width:780px;height:530px; margin:auto; position:relative}

.paopao,.mifeng,.chongzi,.huapen,.bingdong,.hongxing,.hua,.zhezhi,.cu,.liehen{position:absolute}

.hongxing{ background:url(../img/hongxing.png) no-repeat;width:89px;height:175px;top:195px;left:482px; display:block; z-index:1}

.zhezhi{ background:url(../img/zhezhi.png) no-repeat;width:118px;height:62px;top:207px;left:367px; display:block; z-index:1}

.paopao{top:0;left:0px; z-index:3}

.mifeng{top:113px;left:230px}

.chongzi{top:54px;left:327px; z-index:4}

.huapen{top:355px;left:406px;z-index:3}

.cu{left:169px;top:328px}

.liehen{left:433px;top:400px;z-index:4}

.bingdong{left:397px;top:275px;z-index:2}

.hua{z-index:0;left:298px;top:24px}

.paopao div.level-1{ background:url(../img/pp1.png) no-repeat;width:757px;height:120px}

.paopao div.level-2{ background:url(../img/pp2.png) no-repeat;width:757px;height:130px}

.paopao div.level-3{ background:url(../img/pp3.png) no-repeat;width:757px;height:130px}

.mifeng div.level-1{ background:url(../img/mf1.png) no-repeat;width:480px;height:150px}

.mifeng div.level-2{ background:url(../img/mf2.png) no-repeat;width:480px;height:150px}

.mifeng div.level-3{ background:url(../img/mf3.png) no-repeat;width:480px;height:150px}

.chongzi div.level-1{ background:url(../img/cz1.png) no-repeat;width:200px;height:450px}

.chongzi div.level-2{ background:url(../img/cz2.png) no-repeat;width:200px;height:450px}

.chongzi div.level-3{ background:url(../img/cz3.png) no-repeat;width:200px;height:450px}

.huapen div.level-1{ background:url(../img/hp1.png) no-repeat;width:330px;height:150px}

.huapen div.level-2{ background:url(../img/hp2.png) no-repeat;width:330px;height:150px}

.huapen div.level-3{ background:url(../img/hp3.png) no-repeat;width:330px;height:150px}

.cu div.level-1{ background:url(../img/cu1.png) no-repeat;width:86px;height:171px}

.cu div.level-2{ background:url(../img/cu2.png) no-repeat;width:86px;height:171px}

.cu div.level-3{ background:url(../img/cu3.png) no-repeat;width:86px;height:171px}

.liehen div.level-1{ background:url(../img/lh1.png) no-repeat;width:80px;height:74px; margin-left:10px}

.liehen div.level-2{ background:url(../img/lh2.png) no-repeat;width:80px;height:74px; margin-left:18px; margin-top:2px}

.liehen div.level-3{ background:url(../img/lh3.png) no-repeat;width:80px;height:74px}

.bingdong div.level-1{ background:url(../img/bd1.png) no-repeat;width:150px;height:180px; margin-left:18px; margin-top:30px}

.bingdong div.level-2{ background:url(../img/bd2.png) no-repeat;width:150px;height:180px; margin-left:18px}

.bingdong div.level-3{ background:url(../img/bd3.png) no-repeat;width:150px;height:180px}

.hua div.f-1{ background:url(../img/f1.png);width:192px;height:367px;  margin-left:95px; margin-top:2px}

.hua div.f-2{ background:url(../img/f2.png);width:203px;height:352px;  margin-left:82px; margin-top:11px}

.hua div.f-3{ background:url(../img/f3.png);width:362px;height:375px; margin-top:17px}

.hua div.f-4{ background:url(../img/f4.png);width:228px;height:332px; margin-left:75px;margin-top:60px}

.hua div.f-5{ background:url(../img/f5.png);width:242px;height:413px; margin-left:45px;margin-top:28px}

.hua div.f-6{ background:url(../img/f6.png);width:302px;height:345px; margin-left:51px;}

.hua div.f-7{ background:url(../img/f7.png);width:244px;height:348px; margin-left:55px;margin-top:32px}

.hua div.f-8{ background:url(../img/f8.png);width:233px;height:349px; margin-left:55px;margin-top:33px}

.hua div.f-9{ background:url(../img/f9.png);width:202px;height:349px; margin-left:61px;margin-top:35px}

.hua div.f-10{ background:url(../img/f10.png);width:286px;height:360px; margin-left:54px;margin-top:25px}

.hua div.f-11{ background:url(../img/f11.png);width:188px;height:365px; margin-left:90px;margin-top:44px}

.tip{ background:url(../img/kuang.png) no-repeat;width:567px;height:380px; position:absolute;top:83px;left:114px; z-index:10}

.tip-close{width:34px;height:33px;float:right; margin:13px 25px 0px 0px}

.tip-box{ padding:30px 18px 10px 30px; font-family:"微软雅黑"}

.tip-content{height:267px; overflow-y: scroll; font-size:14px; margin-top:5px}

.tip-box h1{ font-size:18px; color:#059301}








