@charset "utf-8";
/* CSS Document */

body{margin:0 auto; background:#333}

ul,ol,p,h1,h2,h3,form,dd,dl,dt{margin:0;padding:0;list-style:none}

img{border:0;}

.clear{clear:both}

.level-1,.level-2,.level-3{display:none}

.hongxing,.zhezhi{display:none}

.hua div{display:none}

.f-box{
	background:url(../img/bg.jpg);
	width:780px;
	height:584px;
	margin:auto;
	position:relative
}

.paopao,.mifeng,.chongzi,.huapen,.bingdong,.hongxing,.hua,.zhezhi,.cu,.liehen,.kuzhi{position:absolute}

.hongxing{ background:url(../img/hongxing.png) no-repeat;width:89px;height:175px;top:195px;left:482px; display:block; z-index:1}

.zhezhi{z-index:1;width:480px;height:300px;left:6px;top:209px; display:block}

.paopao{top:0;left:0px; z-index:3}

.mifeng{top:113px;left:230px}

.chongzi{top:54px;left:327px; z-index:4}

.huapen{top:355px;left:406px;z-index:3}

.cu{left:169px;top:328px}

.liehen{left:433px;top:400px;z-index:4}

.bingdong{left:397px;top:275px;z-index:3}

.kuzhi{left:333px;top:270px;z-index:2}

.hua{z-index:0;left:298px;top:24px}

.paopao div.level-1{ background:url(../img/pp1.png) no-repeat;width:757px;height:120px}

.paopao div.level-2{ background:url(../img/pp2.png) no-repeat;width:757px;height:130px}

.paopao div.level-3{ background:url(../img/pp3.png) no-repeat;width:757px;height:130px}

.paopao div.level-4{ background:url(../img/pp4.png) no-repeat;width:757px;height:130px}

.mifeng div.level-1{ background:url(../img/mf1.png) no-repeat;width:480px;height:150px}

.mifeng div.level-2{ background:url(../img/mf2.png) no-repeat;width:480px;height:150px}

.mifeng div.level-3{ background:url(../img/mf3.png) no-repeat;width:480px;height:200px}

.mifeng div.level-3{ background:url(../img/mf4.png) no-repeat;width:480px;height:200px}

.chongzi div.level-1{ background:url(../img/cz1.png) no-repeat;width:250px;height:450px}

.chongzi div.level-2{ background:url(../img/cz2.png) no-repeat;width:250px;height:450px}

.chongzi div.level-3{ background:url(../img/cz3.png) no-repeat;width:250px;height:450px}

.huapen div.level-1{ background:url(../img/hp1.png) no-repeat;width:330px;height:150px}

.huapen div.level-2{ background:url(../img/hp2.png) no-repeat;width:330px;height:150px}

.huapen div.level-3{ background:url(../img/hp3.png) no-repeat;width:330px;height:150px}

.cu div.level-1{ background:url(../img/cu1.png) no-repeat;width:86px;height:171px}

.cu div.level-2{ background:url(../img/cu2.png) no-repeat;width:86px;height:171px}

.cu div.level-3{ background:url(../img/cu3.png) no-repeat;width:86px;height:171px}

.liehen div.level-1{ background:url(../img/lh1.png) no-repeat;width:80px;height:74px; margin-left:10px}

.liehen div.level-2{ background:url(../img/lh2.png) no-repeat;width:80px;height:74px; margin-left:18px; margin-top:2px}

.liehen div.level-3{ background:url(../img/lh3.png) no-repeat;width:80px;height:74px; margin-left:10px; margin-top:2px}

.liehen div.level-4{ background:url(../img/lh4.png) no-repeat;width:80px;height:74px; margin-left:8px; margin-top:2px}

.bingdong div.level-1{ background:url(../img/bd1.png) no-repeat;width:150px;height:180px; margin-left:18px; margin-top:30px}

.bingdong div.level-2{ background:url(../img/bd2.png) no-repeat;width:150px;height:180px; margin-left:18px}

.bingdong div.level-3{ background:url(../img/bd3.png) no-repeat;width:150px;height:180px}

.hua div.f-1{ background:url(../img/f1.png);width:192px;height:367px;  margin-left:95px; margin-top:2px}

.hua div.f-2{ background:url(../img/f2.png);width:203px;height:352px;  margin-left:82px; margin-top:11px}

.hua div.f-3{ background:url(../img/f3.png);width:362px;height:375px; margin-top:17px}

.hua div.f-4{ background:url(../img/f4.png);width:228px;height:332px; margin-left:75px;margin-top:60px}

.hua div.f-5{ background:url(../img/f5.png);width:242px;height:413px; margin-left:45px;margin-top:28px}

.hua div.f-6{ background:url(../img/f6.png);width:302px;height:345px; margin-left:51px;}

.hua div.f-7{ background:url(../img/f7.png);width:244px;height:348px; margin-left:55px;margin-top:32px}

.hua div.f-8{ background:url(../img/f8.png);width:233px;height:349px; margin-left:55px;margin-top:33px}

.hua div.f-9{ background:url(../img/f9.png);width:202px;height:349px; margin-left:61px;margin-top:35px}

.hua div.f-10{ background:url(../img/f10.png);width:286px;height:360px; margin-left:54px;margin-top:25px}

.hua div.f-11{ background:url(../img/f11.png);width:188px;height:365px; margin-left:90px;margin-top:44px}

.hua div.f-12{ background:url(../img/f12.png);width:114px;height:293px; margin-left:110px;margin-top:64px}

.zhezhi .level-1{background:url(../img/zz1.png);width:480px;height:300px}

.zhezhi .level-2{background:url(../img/zz2.png);width:480px;height:300px}

.zhezhi .level-3{background:url(../img/zz3.png);width:480px;height:300px}

.zhezhi .level-4{background:url(../img/zz4.png);width:480px;height:300px}

.kuzhi .level-1{background:url(../img/kz1.png);width:130px;height:120px}

.kuzhi .level-2{background:url(../img/kz2.png);width:130px;height:120px}

.kuzhi .level-3{background:url(../img/kz3.png);width:130px;height:120px}


.tip{ background:url(../img/kuang.png) no-repeat;width:567px;height:380px; position:absolute;top:83px;left:114px; z-index:10}

.tip-close{width:34px;height:33px;float:right; margin:13px 25px 0px 0px}

.tip-box{ padding:30px 38px 10px 40px; font-family:"微软雅黑"}

.tip-content{height:267px; overflow-y: scroll; font-size:14px; margin-top:5px}

.tip-box h1{ font-size:18px; color:#059301}

/*星座*/
.x-box{width:960px; margin:auto; background:#ece2bd}

.x-top{ background:url(../img/top.gif);height:65px}

.x-left{width:750px;float:left; overflow:hidden;background:#eecdbe}

.x-right{width:196px;float:right; padding:11px 0px 0px 14px}

.flash{width:750px;height:584px; overflow:hidden}

.yuansu{height:353px; padding-top:30px}

.yuansu-t{ background:url(../img/l_bg.gif);width:685px;height:40px; margin:auto}

.yuansu-c{width:685px; margin:20px auto 0px auto}

.yuansu-c li{width:342px;float:left;height:52px; margin-top:8px;font:14px/22px "微软雅黑";color:#3c2519}

.yuansu-c li span{width:53px;height:52px; display:block;float:left; margin-right:11px; background:url(../img/ico.png) no-repeat}

.yuansu-c li a{display:block; text-decoration:underline;color:#ff2400}

.x-right-t{ background:url(../img/r_t.gif);width:170px;height:22px;font:bold 14px/22px "微软雅黑";color:#fff; padding-left:11px}

.x-right-c{font:13px/18px "微软雅黑";color:#3c2519; padding:10px 13px 10px 13px}

.per{padding:5px 0px; font-size:14px}

.per div{width:128px;height:14px; border-style:solid; border-width:1px; margin-top:6px}

.per div span{display:block;height:14px;background:url(../img/r_bg.gif) repeat-x}

.per div.c1{ border-color:#91ae66}

.per div.c2{ border-color:#ac7ab0}

.per div.c3{ border-color:#498fbe}

.per div.c4{ border-color:#bb7489}

.per div.c5{ border-color:#c09963}

.per div.c1 span{ background-position:0px 0px }

.per div.c2 span{ background-position:0px -20px }

.per div.c3 span{ background-position:0px -40px }

.per div.c4 span{ background-position:0px -60px }

.per div.c5 span{ background-position:0px -80px }

.x-right-c ul li{height:30px; background:url(../img/love.gif) no-repeat 0px 7px; padding-left:17px}

.x-right-c ul li a{color:#3c2519}

.shouting{width:158px;height:282px; border:solid 1px; border-left-color:#d9c4a4; border-top-color:#d9c4a4;border-right-color:#f7f3e3;border-bottom-color:#f7f3e3; padding:15px}

.shouting-t{ font-family:"微软雅黑"; font-size:14px}

.shouting-c li{width:67px;height:119px; text-align:center;float:left; padding-top:10px}

.shouting-c li img{width:54px;height:59px; display:block; margin:auto; border:solid 3px #fff}

.shouting-c li span{display:block; font:14px/28px "微软雅黑";color:#7e6d58}

.shouting-c li a{display:block;width:67px;height:26px;color:#fff;font:12px/26px "微软雅黑";color:#fff; background:#5aa793; text-decoration:none}

.f-a-box{position:absolute;left:225px;top:517px}

.f-a{width:158px;height:51px;float:left; margin-right:30px; text-indent:-999px; overflow:hidden}
