<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler,Castle.Windsor" requirePermission="false" />
    <section name="wcfServices" type="XMS.Core.WCF.Client.Configuration.ServiceReferencesSection,  XMS.Core" requirePermission="false" />
  </configSections>
  <!--
    appSettings 中仅需要配置 XMS.Core 中内置的 AppName、AppVersion 和 Windows服务宿主安装所需要的 ServiceName、DisplayName 等配置项，
        AppName 表示应用的名称，唯一标识一个应用，必须全公司唯一，该名称可用于在 消息、集中日志、集中配置、集中监控 等场景中区分应用；
        AppVersion 表示应用的版本，配合 AppName 标识并区分应用；

    注意：其它配置项请放在 conf\appSettings.config 中进行配置，不允许在 .net 自带的 Web.config 或 app.config 的 AppSettings 配置节中定义：
  -->
  <appSettings>
    <add key="AppName" value="LS" />
    <add key="AppVersion" value="1.0" />
    <add key="ServiceName" value="ServiceHost" />
    <add key="DisplayName" value="ServiceHost" />
    <add key="appAgent-simple-desc" value="AppName/AppVersion(Platform; MobileDeviceManufacturer/MobileDeviceModel; MobileDeviceId; CityId; MacAddress; GPS/Adjust/Longitude/Latitude;)" />
    <add key="EnableConcentratedConfig" value="false" />
    <add key="IsExecuteTriggerTask" value="false" />
    <add key="IsExecuteLocalMessageTask" value="false" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ThirdLoginFilePath" value="" />
    <add key="HomeUrl" value="" />
  </appSettings>
  <!-- castle 配置节是必须的 -->
  <castle>
    <include uri="assembly://XMS.Core/container.core.config" />
  </castle>
  <!-- 
    wcfServices 配置节是可选的，用于配置系统引用的 WCF 服务
            serviceName WCF服务的名称，可随便写，保持唯一即可；
            serviceType WCF服务客户端代理接口的全名称；
  -->
  <wcfServices>
    <!-- 日志中心服务 -->
    <add serviceName="LogCenterService" serviceType="XMS.Core.Logging.ServiceModel.ILogCenterService, XMS.Core" />
    <!-- 下面插入您自己的服务定义 -->
    <!--<add serviceName="PortalResService" serviceType="XMS.Portal.Restaurant.IRestaurantService,WCF.Portal.Restaurant.Proxy" cacheModel="PerRequest"/>-->
  </wcfServices>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
    <defaultProxy enabled="false" useDefaultCredentials="false">
    </defaultProxy>
    <connectionManagement>
      <add address="*" maxconnection="128" />
    </connectionManagement>
  </system.net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>