<?xml version="1.0"?>
<configuration>


  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <section name="RewriterConfig"
    type="URLRewriter.Config.RewriterConfigSerializerSectionHandler, URLRewriter" />
  </configSections>
  <appSettings>
    <add key="ConnectionString" value="Data Source=42.121.116.88;Initial Catalog=upup1000;uid=sa;password=Pink1437"/>
    <add key="PPLiveUrl" value="http://localhost:8799/"/>
    <!--<add key="HomeUrl" value="http://localhost:43045/"/>-->
    <add key="HomeUrl" value="http://www.ssqian.com/"/>
    <add key="AstroGraphicPath" value="AstroGraphic\"/>
    <add key="AstrologPath" value="App_Data\astrolog.exe"/>
    <add key="RegisterEmailCheck" value="false"/>
    <add key="AdvFolderPath" value="http://localhost:1109/WebResources/Xdv/"/>
    <add key="ErrorLogFolder" value="d:\\"/>
  </appSettings>
  <connectionStrings/>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--
            通过 <authentication> 节可以配置
            安全身份验证模式，ASP.NET 
            使用该模式来识别来访用户身份。 
        -->
    <authentication mode="Windows"/>
    <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节
            可以配置相应的处理步骤。具体而言，
            开发人员通过该节可配置要显示的 html 错误页，
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <httpHandlers>
    <add verb="*" path="*.html"
         type="URLRewriter.RewriterFactoryHandler, URLRewriter" />
  </httpHandlers>
  </system.web>
  <!-- 
        system.webServer 节是在 Internet Information Services 7.0 下运行 ASP.NET AJAX
        所必需的。对早期版本的 IIS 来说则不需要此节。
    -->

  <RewriterConfig>
    　　 <Rules>
      　　　　 <!-- 首页重写规则 -->
      <RewriterRule>
        　　　　　　 <LookFor>~/ </LookFor>
        　　　　　　 <SendTo>~/Default.aspx </SendTo>
      </RewriterRule>
      　　　　 <!-- 煮酒论命首页重写规则 -->
      <RewriterRule>
        　　　　 <LookFor>~/Quest/ </LookFor>
        　　　　　　 <SendTo>~/Quest/Index.aspx </SendTo>
      </RewriterRule>　
               <!-- 煮酒论命问答列表重写规则 -->
      <RewriterRule>
        <LookFor>~/Quest/QuestList/[0-9]+/[0-9]* </LookFor>
        <SendTo>~/Quest/QuestList.aspx?cate=$1&amp;pn=$2</SendTo>
      </RewriterRule>　
      <RewriterRule>
        <LookFor>~/Quest/QuestList/[^/]+/[0-9]* </LookFor>
        <SendTo>~/Quest/QuestList.aspx?key=$1&amp;pn=$2</SendTo>
      </RewriterRule>　
      <RewriterRule>
        <LookFor>~/Quest/QuestList/[0-9]+/[^/]+/[0-9]* </LookFor>
        <SendTo>~/Quest/QuestList.aspx?key=$1&amp;key=$2&amp;pn=$3</SendTo>
      </RewriterRule>
               <!-- 煮酒论命帖子列表重写规则 -->
      <RewriterRule>
        <LookFor>~/Quest/TalkList/[0-9]+/[0-9]* </LookFor>
        <SendTo>~/Quest/TalkList.aspx?cate=$1&amp;pn=$2</SendTo>
      </RewriterRule>　
      <RewriterRule>
        <LookFor>~/Quest/TalkList/[^/]+/[0-9]* </LookFor>
        <SendTo>~/Quest/TalkList.aspx?key=$1&amp;pn=$2</SendTo>
      </RewriterRule>　
      <RewriterRule>
        <LookFor>~/Quest/TalkList/[0-9]+/[^/]+/[0-9]* </LookFor>
        <SendTo>~/Quest/TalkList.aspx?key=$1&amp;key=$2&amp;pn=$3</SendTo>
      </RewriterRule>
               <!-- 煮酒论命问答详情重写规则 -->         
      <RewriterRule>
        <LookFor>~/Quest/Question/[0-9]+ </LookFor>
        <SendTo>~/Quest/Question.aspx?id=$1</SendTo>
      </RewriterRule>　
      <RewriterRule>
        <LookFor>~/Quest/Question/[0-9]+/[0-9]+ </LookFor>
        <SendTo>~/Quest/Question.aspx?id=$1&amp;pn=$2</SendTo>
      </RewriterRule>　
               <!-- 煮酒论命帖子详情重写规则 -->         
      <RewriterRule>
        <LookFor>~/Quest/Topic/[0-9]+ </LookFor>
        <SendTo>~/Quest/Topic.aspx?id=$1</SendTo>
      </RewriterRule>　
      <RewriterRule>
        <LookFor>~/Quest/Topic/[0-9]+/[0-9]+ </LookFor>
        <SendTo>~/Quest/Topic.aspx?id=$1&amp;pn=$2</SendTo>
      </RewriterRule>　
               <!-- 煮酒论命发帖发问重写规则 -->         
      <RewriterRule>
        <LookFor>~/Quest/Talk </LookFor>
        <SendTo>~/Quest/Talk.aspx</SendTo>
      </RewriterRule>　
      <RewriterRule>
        <LookFor>~/Quest/Ask </LookFor>
        <SendTo>~/Quest/Ask.aspx</SendTo>
      </RewriterRule>       
               <!-- 象牙塔分类列表重写规则 -->         
      <RewriterRule>
        <LookFor>~/Article/ </LookFor>
        <SendTo>~/Article/Index.aspx</SendTo>
      </RewriterRule>　
      <RewriterRule>
        <LookFor>~/Article/[0-9]+/[0-9]* </LookFor>
        <SendTo>~/Article/Index.aspx?cate=$1&amp;pn=$2</SendTo>
      </RewriterRule>　
      <RewriterRule>
        <LookFor>~/Article/[^/]+/[0-9]* </LookFor>
        <SendTo>~/Article/Index.aspx?key=$1&amp;pn=$2</SendTo>
      </RewriterRule>　
      <RewriterRule>
        <LookFor>~/Article/[0-9]+/[^/]+/[0-9]* </LookFor>
        <SendTo>~/Article/Index.aspx?key=$1&amp;key=$2&amp;pn=$3</SendTo>
      </RewriterRule>
                <!-- 象牙塔文章重写规则 -->         
      <RewriterRule>
        <LookFor>~/Article/Content/[0-9]+ </LookFor>
        <SendTo>~/Article/Content.aspx?id=$1</SendTo>
      </RewriterRule>　
                <!-- 名人库案例重写规则 -->         
      <RewriterRule>
        <LookFor>~/Celebrity/Detail/[^/]+/[0-9]* </LookFor>
        <SendTo>~/Celebrity/Content.aspx?id=$1&amp;pn=$2</SendTo>
      </RewriterRule>　
                <!-- 名人库首页重写规则 -->         
      <RewriterRule>
        <LookFor>~/Celebrity/ </LookFor>
        <SendTo>~/Celebrity/Search.aspx</SendTo>
      </RewriterRule>
    </Rules>
  </RewriterConfig>


</configuration>