<?xml version="1.0"?>
<configuration>


  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <section name="RewriterConfig"
    type="URLRewriter.Config.RewriterConfigSerializerSectionHandler, URLRewriter" />
  </configSections>
  <appSettings>
    <add key="ConnectionString" value="Data Source=42.121.116.88;Initial Catalog=upup1000;uid=sa;password=Pink1437"/>
    <add key="PPLiveUrl" value="http://localhost:8799/"/>
    <!--<add key="HomeUrl" value="http://localhost:43045/"/>-->
    <add key="HomeUrl" value="http://www.ssqian.com/"/>
    <add key="AstroGraphicPath" value="AstroGraphic\"/>
    <add key="AstrologPath" value="App_Data\astrolog.exe"/>
    <add key="RegisterEmailCheck" value="false"/>
    <add key="AdvFolderPath" value="http://localhost:1109/WebResources/Xdv/"/>
    <add key="ErrorLogFolder" value="d:\\"/>
  </appSettings>
  <connectionStrings/>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--
            通过 <authentication> 节可以配置
            安全身份验证模式，ASP.NET 
            使用该模式来识别来访用户身份。 
        -->
    <authentication mode="Windows"/>
    <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节
            可以配置相应的处理步骤。具体而言，
            开发人员通过该节可配置要显示的 html 错误页，
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        system.webServer 节是在 Internet Information Services 7.0 下运行 ASP.NET AJAX
        所必需的。对早期版本的 IIS 来说则不需要此节。
    -->
  <httpHandlers>
    <add verb="*" path="*.html"
         type="URLRewriter.RewriterFactoryHandler, URLRewriter" />
  </httpHandlers>
  <RewriterConfig>
    　　 <Rules>
      　　　　 <!-- 首页重写规则 -->
      <RewriterRule>
        　　　　　　 <LookFor>~/ </LookFor>
        　　　　　　 <SendTo>~/Default.aspx </SendTo>
      </RewriterRule>
      　　　　 <!-- 煮酒论命页面重写规则 -->
      <RewriterRule>
        　　　　 <LookFor>~/Quest/ </LookFor>
        　　　　　　 <SendTo>~/Quest/Index.aspx </SendTo>
      </RewriterRule>　
         
      <RewriterRule>
        　　　　 <LookFor>~/Quest/QuestList/[0-9]+ </LookFor>
        　　　　　　 <SendTo>~/Quest/QuestList.aspx?cate=$1 </SendTo>
      </RewriterRule>　
      <RewriterRule>
        　　　　 <LookFor>~/Quest/QuestList/[0-9]+/[0-9]+ </LookFor>
        　　　　　　 <SendTo>~/Quest/QuestList.aspx?cate=$1&amp;pn=$2 </SendTo>
      </RewriterRule>
      <RewriterRule>
        　　　　 <LookFor>~/Quest/QuestList/[0-9]+/[0-9]+ </LookFor>
        　　　　　　 <SendTo>~/Quest/QuestList.aspx?cate=$1&amp;pn=$2 </SendTo>
      </RewriterRule>
         
      <RewriterRule>
        <LookFor>~/([a-zA-Z0-9]*)/([a-zA-Z0-9]*).aspx </LookFor>
        　　　　　　 <SendTo>~/item.aspx?guid=$1&amp;area=$2</SendTo>
        　　　　
      </RewriterRule>　


    </Rules>
  </RewriterConfig>


</configuration>