<?xml version="1.0" encoding="utf-8" ?> 
<!--Configuration for all common info-->

<CommonConfiguration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<!--<PMCollection>0074:0076:0044:0146:0117:0166:0180:0211:0370:0245</PMCollection>--><!--PM列表 userid1:userid2:...--><!--
	
	--><!--配送师傅列表--><!-- 唐阿平, 0072	Teddy, 0038		客户自提, delivery		潘伟, 0158		张子寅,0159		翟大春, 0183	待分配, jx01	第三方快递,2001	贤达快递,2000			邵凤权,0186		窦玉腊,0187		王长友,0193		章登友 0192--><!--
	<FMCollection>0072:0038:delivery:0158:0159:0183:jx01:2001:2000:0186:0187:0193:0192</FMCollection>
    <IPPrintCollection>127.0.0.1:10.16.172.130:10.16.172.15</IPPrintCollection>
    --><!--PrintIP列表 127.0.0.1:...--><!--
    <FMPrintCollection>0072:0038:delivery:0158:0159:0183:jx01:2001:2000:0186:0187:0193:0192:0370:0351</FMPrintCollection>
    --><!--PrintPM列表 userid1:userid2:...--><!--
    --><!--RMAHandlerNext人员列表--><!--
    <RMAHandlerNext></RMAHandlerNext>
  --><!--RMA and CC Mail列表--><!--
  <RMAandCCMail>zhouj@zuanj.com</RMAandCCMail>
  --><!--日报表接收人员列表--><!--
  <DayReportMail>zhouj@zuanj.com</DayReportMail>
  --><!--每日已入库未付款的负采购单接收人员列表--><!--
  <DayNegativeMail>zhouj@zuanj.com</DayNegativeMail>
  <ComplainType>投诉产品:投诉货物配送:投诉保修政策和执行:投诉400热线:投诉货款(付款/退款)</ComplainType>
  <ComplainSourceType>投诉邮箱:客户反馈:电话:产品评论:ZuanJ Support</ComplainSourceType>
  <ReplySourceType>电话:邮件</ReplySourceType>
  <ComplainMailFrom>complain@zuanj.com</ComplainMailFrom>
  <ComplainMailBcc>zhouj@zuanj.com</ComplainMailBcc>
  <ComplainResponsibleDept>PM:DELIVERY:RMA:LOG:CS:OTHERS</ComplainResponsibleDept>-->
  <!--供应商文件存放路径-->
  <VendorFilePath>D:\File\</VendorFilePath>
  <!--供应商文件URL路径-->
  <VendorURLPath>http://localhost/File/</VendorURLPath>

  <!--价格审核邮件发送地址(PMD)--><!--
  <PriceVerifyEmail>zhouj@zuanj.com</PriceVerifyEmail>
--><!--Partly Receive检查不符合原因--><!--
  <InStockCC>zhouj@zuanj.com</InStockCC>
  <PartlyReceiveReason>供应商送少，只能库存实际送达数量:存在不合格商品，不合格商品当场退回（当供应商送达商品既少于采购数量，又存在不合格商品时，优先选择该选项）:存在不合格商品，不合格商品暂存（当供应商送达商品既少于采购数量，又存在不合格商品时，优先选择该选项）:供应商多送，多出商品已当场退回:供应商多送，多出商品已入暂存库</PartlyReceiveReason>
  <ExpiredSOMailList>zhouj@zuanj.com</ExpiredSOMailList>
	--><!--起用SO改单记录开关--><!--
	<OpenCheckQtyLog>true</OpenCheckQtyLog>

  --><!--PIM系统地址 例如:http://wspimsrv/IppPIM/--><!--
  <PIMURL>http://localhost/MIS/</PIMURL>

	--><!--WarehouseNumber--><!--
  <WarehouseNumber>1</WarehouseNumber>
	--><!-- 图片稍后即来的图片URL--><!--
	<ProductInitializePic>http://localhost/MIS/Basic/SysLogin.aspx?id=</ProductInitializePic>
  <Ecommerce>Ecommerce</Ecommerce>
  <IPP>IPP3</IPP>
  <MailDB>MailDB</MailDB>
  <PMDB>PMDB</PMDB>
  <Shopping>Shopping</Shopping>
  <PPMDB>PPM</PPMDB>-->
</CommonConfiguration>
