<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
<connectionStrings>
    <add name="ConnStr" connectionString="Data Source=42.121.116.88;Initial Catalog=upup1000;User=sa;Password=Pink1437;"/>
  </connectionStrings>
  <appSettings>
     <!-- <add key="nowid" value="38340" />-->
    <add key="nowid" value="15087"/>
    <add key="ConnectionString" value="Data Source=42.121.116.88;Initial Catalog=upup1000;uid=sa;password=Pink1437"/>
    <add key="interval" value="1000"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
</configuration>
